<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thoat Board</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <main>
        <div class="register_div">
            <h1>Register</h1>
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %} >
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form action="/register" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="first_name">First Nane</label>
                    <input type="text" name="first_name" class="form-control" id="first_name"  placeholder="Enter First Name" required>
                </div>
                <div class="form-group">
                    <label for="last_name">Last Nane</label>
                    <input type="text" name="last_name" class="form-control" id="last_name"  placeholder="Enter Last Name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Email" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" name="confirm_password" class="form-control" id="confirm_password" placeholder="Confirm Password" required>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>

        <div class="login_div">
            <h1>Login</h1>
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %} >
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <form action="/login" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </main>
</body>
</html>