<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Level 1</title>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/css.css') }}">

</head>
<body>
    <main>
        <h1>Welcome!</h1>
        <aside>
            {% if time == 0 :%}
                {% for i in range(0,3) :%}
                    <div></div>
                {%endfor%}
            {%endif%}

            {% if time > 0 :%}
                {% for i in range(0,time) :%}
                    <div  style="background-color: {{color}};"></div>
                {%endfor%}
            {%endif%}

        </aside>
    </main>
</body>
</html>