main{
    margin: 0px auto;
    text-align: center;
    width: 900px;
}

aside{
    display: flex;
    flex-wrap: wrap;
}
div{
    background-color: #9fc5f8;
    border: 2px solid black;
    width: 200px;
    height: 200px;
    margin: 10px;
}
